<div>
  <div class='inner'>
    <%= current_user.name %>さん
    <div class='report-list'>
      <% @reports.each do |report| %>
        <%= render partial: "report", locals: { report: report }%>
      <% end %>
    </div>
  </div>
</div>