/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #6f5240;
  background-color: #fffcfa;
  font-size: 1.1em;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #7c5b4e;
}

/* ヘッダー */
.header {
  background-color: #f2eae6;
  padding: 2em auto;
  margin-bottom: 2em;
}
.header_inner {
  width: 700px;
  margin: auto;
  height: 3em;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.header_link {
  font-size: 0.8em;
  margin-left: 1em;
}
/* トップページ */
.btn{
  display: inline-block;
  text-align: center;
  margin-right: 0.4em;
  padding: 0.4em 1.5em;
  font-size: 0.7em;
}
.bg_brown {
  background-color: #d8b3a0;
}
.bg_purple {
  background-color: #b196d5;
}
.bg_pink {
  background-color: #f8d6f8;
}
.bg_green {
  background-color: #cffae5;
}
.report {
  background-color: #c2b2a8;
  font-size: 0.65em;
}
.inner {
  width: 40em;
  margin: auto;
}
.report-list {
  margin: 1em;
}

.report_products {
  margin-left: 1em;
}

.report_product {
  display: inline-block;
  text-align: center;
  border: 0.5px solid #c9ac99;
  padding: 0.1em 1em;
  font-size: 0.8em;
}

.report_product:hover {
  border: none;
  background: #c9ac99;
}

/* 部分テンプレート内 */
.stock_wrapper {
  height: 3em;
  margin: auto 1em;
  text-decoration: none;
  user-select: none;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 0.5px solid #897364;
}
.stock_left {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.inner_left {
  display: flex;
  align-items: center;
  width: 12em;
}
.inner_right {
  color: #6f5240;
}
.submit_btn {
  padding: 0.4em 1.5em;
  font-size: 0.7em;
  transition: 0.4s ease;
  margin-right: 1em 1em 0 0;
  background: #fffbf9;
  border: 2px solid #c9ac99;
  width: 8em;
}

.submit_btn:hover {
  border: none;
  background: #c9ac99;
}

/* 入力画面 */
.form_wrapper{
  height: 3em;
  width: 700px;
  margin: auto;
  text-decoration: none;
  user-select: none;  
  font-size: 0.9em;
}
.report-info{
  margin-bottom: 1em;
}
.input_form {
  width: 400px;
}
.form {
  margin: 0.7em 0;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.form_left{
  margin-right: 1em;  
}
.form_right {
}

.disabled {
  pointer-events: none;
}

/* 帳票情報 */
.report_input {
  margin-bottom: 1em;
}
.report_select {
  margin-left: 0.5em;
}
.detail_link {
  font-size: 0.7em;
  display: block;
  margin-left: 1em;
}

/* devise */
.field,.actions{
  margin: 1em 0;
}
/* フッター */